html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #eee;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
  font-weight: 100;
}


a {
  color: hsl(200, 50%, 50%);
  text-decoration: none;
}
